In [1]:
import pandas as pd
import numpy as np
N=20
df = pd.DataFrame({
    'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
    'x': np.linspace(0,stop=N-1,num=N),
    'y': np.random.rand(N),
    'C': np.random.choice(['Low','Medium','High'],N).tolist(),
    'D': np.random.normal(100, 10, size=(N)).tolist()
})
print(df)
for col in df:
    print (col)

            A     x         y       C           D
0  2016-01-01   0.0  0.206240  Medium  112.232828
1  2016-01-02   1.0  0.985352     Low  102.971145
2  2016-01-03   2.0  0.306022    High  113.890383
3  2016-01-04   3.0  0.685363    High  105.271824
4  2016-01-05   4.0  0.549146     Low   85.909222
5  2016-01-06   5.0  0.782399  Medium  102.726621
6  2016-01-07   6.0  0.188377     Low   99.581514
7  2016-01-08   7.0  0.433450  Medium  113.098732
8  2016-01-09   8.0  0.879577    High   84.237411
9  2016-01-10   9.0  0.812363     Low  108.241402
10 2016-01-11  10.0  0.837029  Medium   96.801664
11 2016-01-12  11.0  0.103123    High   98.121738
12 2016-01-13  12.0  0.829903  Medium   94.185662
13 2016-01-14  13.0  0.136170    High  105.893401
14 2016-01-15  14.0  0.642723  Medium  112.513419
15 2016-01-16  15.0  0.928199    High   84.814048
16 2016-01-17  16.0  0.483816  Medium  104.666243
17 2016-01-18  17.0  0.605253     Low  101.613905
18 2016-01-19  18.0  0.972628     Low   82.844912
19 2016-01-20  19.0  0.340345  Medium   90.748804
A
x
y
C
D

## iteritems

In [4]:
df = pd.DataFrame(np.random.randn(4,3),columns=['col1','col2','col3'])
for key, value in df.iteritems():
    print(key, '\n', value)

col1
 0    0.407981
1   -0.664145
2    0.673957
3   -0.669036
Name: col1, dtype: float64
col2
 0   -0.341562
1    0.897723
2   -0.533520
3   -1.553578
Name: col2, dtype: float64
col3
 0   -0.234819
1    1.089733
2    0.655360
3   -1.366340
Name: col3, dtype: float64

## iterrows

In [5]:
print(df)
for row_index,row in df.iterrows():
    print (row_index,row)

       col1      col2      col3
0  0.407981 -0.341562 -0.234819
1 -0.664145  0.897723  1.089733
2  0.673957 -0.533520  0.655360
3 -0.669036 -1.553578 -1.366340
0 col1    0.407981
col2   -0.341562
col3   -0.234819
Name: 0, dtype: float64
1 col1   -0.664145
col2    0.897723
col3    1.089733
Name: 1, dtype: float64
2 col1    0.673957
col2   -0.533520
col3    0.655360
Name: 2, dtype: float64
3 col1   -0.669036
col2   -1.553578
col3   -1.366340
Name: 3, dtype: float64

## itertuples

In [6]:
for row in df.itertuples():
    print(row)

Pandas(Index=0, col1=0.40798069737770076, col2=-0.34156224090610565, col3=-0.23481877342093016)
Pandas(Index=1, col1=-0.6641453814890524, col2=0.8977231451986275, col3=1.089733199385513)
Pandas(Index=2, col1=0.673956674595428, col2=-0.5335199385256512, col3=0.6553597883128848)
Pandas(Index=3, col1=-0.669035593858554, col2=-1.5535780901995602, col3=-1.366340451667227)